<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
  </startup>

  <connectionStrings>
    <!-- SQL Server Local Database - Update with your server name -->
    <add name="ApartmentManagerDB" 
         connectionString="Server=(localdb)\mssqllocaldb;Database=ApartmentManagerDB;Trusted_Connection=true;" 
         providerName="Microsoft.Data.SqlClient" />
    
    <!-- Alternative: SQL Server Express 
    <add name="ApartmentManagerDB" 
         connectionString="Server=.\SQLEXPRESS;Database=ApartmentManagerDB;Trusted_Connection=true;" 
         providerName="Microsoft.Data.SqlClient" />
    -->

    <!-- Alternative: SQL Server Instance
    <add name="ApartmentManagerDB" 
         connectionString="Server=YOUR_SERVER_NAME\SQLSERVER_INSTANCE;Database=ApartmentManagerDB;Trusted_Connection=true;" 
         providerName="Microsoft.Data.SqlClient" />
    -->

    <!-- Alternative: SQL Server with Username/Password
    <add name="ApartmentManagerDB" 
         connectionString="Server=YOUR_SERVER;Database=ApartmentManagerDB;User Id=sa;Password=YOUR_PASSWORD;" 
         providerName="Microsoft.Data.SqlClient" />
    -->
  </connectionStrings>

  <appSettings>
    <!-- Application Settings -->
    <add key="AppVersion" value="1.0.0" />
    <add key="AppName" value="Apartment Manager" />
    
    <!-- Database Settings -->
    <add key="DatabaseCommandTimeout" value="30" />
    <add key="EnableConnectionPooling" value="true" />
    
    <!-- Logging Settings -->
    <add key="LogLevel" value="Debug" />
    <add key="LogFilePath" value="logs/apartment-manager-.txt" />
    
    <!-- Security Settings -->
    <add key="MaxLoginAttempts" value="5" />
    <add key="LockDurationMinutes" value="15" />
    <add key="PasswordExpirationDays" value="90" />
    <add key="SessionTimeoutMinutes" value="30" />
    
    <!-- UI Settings -->
    <add key="ThemeColor" value="#215C9B" />
    <add key="FontName" value="Segoe UI" />
    <add key="FontSize" value="10" />
    
    <!-- Feature Flags -->
    <add key="EnableExcelExport" value="true" />
    <add key="EnablePdfExport" value="true" />
    <add key="EnableEmailNotification" value="false" />
    <add key="EnableBackupRestore" value="true" />
  </appSettings>

</configuration>
